body {
  background-color: rgb(7, 1, 1);
  color: aliceblue;
  font-size: medium;
  font-family: sans-serif;
}

h1 {
  background-color: rebeccapurple;
  border: 3px rebeccapurple solid;
  text-align: center;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 5px;
  font-family: initial;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
h2 {
  font-family: initial;
  border: 1px solid rebeccapurple;
  background-color: rebeccapurple;
  border-radius: 15px;
  width: 45%;
  height: 25px;
  margin: auto;
  font-size: medium;
}
article {
  width: 45%;
  float: left;
  text-align: center;
  margin: auto;
  line-height: 25px;
}

img {
  border-radius: 50%;
  height: 100px;
}

.name {
  border: 2px solid rebeccapurple;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  height: 22px;
}

.left {
  margin-top: 30px;
}

button {
  padding: 10px 15px;
  background-color: rebeccapurple;
  color: aliceblue;
  border: 2px solid rebeccapurple;
  border-radius: 30px;
  margin: 10px;
}
button:hover {
  color: black;
}

.copy {
  text-align: center;
  color: rgb(179, 175, 175);
}
